










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































#aslide-1{
    width: 97vw;
    height: 90vh;
}

.acontainer{
    display: flex;
    height: 15vh;
    justify-content: space-around;
    margin-top: 2rem;
}

#aslide-2{
    width: 14vw;
    margin-left: -1rem;
}

#aslide-3{
    width: 14vw;
}

#aslide-4{
    width: 14vw;
}

#aslide-5{
    width: 14vw;
}

#aslide-6{
    width: 14vw;
}

.aslide-nav-for{
    margin-top: 2.1em;
}

.aslide-nav-back{
    margin-top: 2.1em;
}

.amynav {
    margin: -0.625em -0.625em -0.625em -0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021B43;
}

.atitle{
    margin-top: 1.5em;
}

.asubtitle{
    color:#908D8D;
    font-weight: lighter;
    margin-top: -0.313em;
}

#aslide-2:hover{
    opacity:50%;
}

.alorem{
    font-size: medium;
    text-align: justify;
    margin-right: 0.313em;
}