





.ocolor{
    background-color: blueviolet;
}















    .mcolor{
        background-color: brown;
    }











































 .hicham-p{
    background-color: green;
 }













.arouge {
  color:red; 
}































