<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/style_test.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style_afficher_historique.css">
    <link rel="stylesheet" href="../../assets/css/style_afficher_historique.css">
</head>
<body style="background-color: #ECF0F1;">
    <!-- partie headernav   -->

    <header class="accuille-h">
        <nav>
            <div class="logo">
                <img src="../../assets/images/logo 2 4.png" alt="ImmoView Logo">
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="#">Catalogue</a></li>
                <li><a href="#">Détails</a></li>
                <li><a href="#">Témoignages</a></li>
            </ul>
        </nav>
      
</header>





        <div id="dev1">
            <section>
                <h1 class="main-title" style="font-family: 'Bree Serif' ; font-size: 45px; ">Fiche Témoignages</h1>
                <img src="../../assets/images/picure1.png" alt="Royal Argana" class="property-image" width="380px" style="position: relative; left:50px;">
                <div class="property-details">
                    <h2 style="position: relative; top:-250px; left:480px; font-size: 40px;">Royal Mirage Agadir</h2>
              <br>      <button class="share-btn" style="position: relative; top:-248px; left:480px; font-family: 'Bree Serif'">N'hésitez pas à partager votre avis !</button>
                </div>
            
    
            <div class="testimonials">
                <p class="welcome-text">
                    Bienvenue dans l’espace dédié aux commentaires de nos clients <br> <span class="contenue_welcome">après leur achat.</span>
                </p>
                
             </div>   
              
       
            </section>
    
        <section  class="Fisr_Send" style="position: relative; top:-300px;">
            
                <div class="ligne_divisible"style="position: relative; left:22%;">
                    <div></div>  
                    <div></div> 
                    <div></div>  
                </div>
                <p style="position: relative; left:300px; font-family: 'Bree Serif',
                 serif; font-weight: bold; font-size: 20px;">Je tiens à remercier toute l'équipe pour son excellent service tout au long de l'achat de notre <br> nouvelle maison. Nous sommes absolument ravis de notre  choix ! La maison est non seulement <br>  magnifique, 
                    mais elle dépasse toutes 
                    nos attentes en termes de
                     confort et de qualité. 
                     Votre  <br> professionnalisme et
                      votre disponibilité ont rendu 
                      ce processus simple et agréable</p>
                      
                     
               
                <img src="../../assets/images/fgg.png" id="img1" alt="Profile" style="position: relative; bottom:185px; left:40px;" >
                <div class="afichage_nom_email" style="position: relative; top:-180px; ">
                    
                    <p class="name_content">Full Name : Laurin Jack</p>
                    <p class="email_content">Laurin@gmail.com</p>
                    
                </div>
               
                <!-- reponse 1 de la 1 ere client qui a repond  -->
    
                <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
                serif; font-weight: bold; font-size: 20px; top:-200px;">
                
                
                <img src="../../assets/images/v66.png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
                <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                    
                    <p class="name_content" >Full Name : SFraly</p>
                    <p class="email_content">Solo@gmail.com</p>
                    
                </div>
               
                <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                     </div>
    
    
                <!-- fin de bloc reonse 1 -->
    
                
                <!-- reponse 2 pourla 1 ere client qui a reonde -->
    
                <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
                serif; font-weight: bold; font-size: 20px; top:-250px;">
                
                
                <img src="../../assets/images/man1..png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
                <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                    
                    <p class="name_content" >Full Name : Farid</p>
                    <p class="email_content">Farid@gmail.com</p>
                    
                </div>
               
                <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                     </div>
    
                <!-- fin reponse -->
        </section>

        </div>
    
    
        <!-- Section de 2 eme reponse -->
    
        <section  class="Fisr_Send" style="position: relative; top:-680px;">
            
            <div class="ligne_divisible"style="position: relative; left:22%;">
                <div></div>  
                <div></div> 
                <div></div>  
            </div>
            <p style="position: relative; left:300px; font-family: 'Bree Serif',
             serif; font-weight: bold; font-size: 20px;">Un grand merci à toute l'équipe 
             pour son service impeccable tout au long de l'acquisition de notre  <br> nouvelle maison. 
             Nous sommes enchantés par notre décision ! La maison est non seulement <br>splendide,
              mais elle surpasse toutes nos attentes en matière de confort et de qualité.
              Votre <br> professionnalisme et votre disponibilité 
              ont fait de cette expérience un véritable plaisir.</p>
                  
                 
           
            <img src="../../assets/images/v10.png" id="img1" alt="Profile" style="position: relative; bottom:185px; left:40px;" >
            <div class="afichage_nom_email" style="position: relative; top:-180px; ">
                
                <p class="name_content">Full Name : Alami</p>
                <p class="email_content">Laurin@gmail.com</p>
                
            </div>
           
            <!-- reponse 1 de la 1 ere client qui a repond  -->
    
            <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
            serif; font-weight: bold; font-size: 20px; top:-200px;">
            
            
            <img src="../../assets/images/man2.png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
            <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                
                <p class="name_content" >Full Name :Alami </p>
                <p class="email_content">Alami@gmail.com</p>
                
            </div>
           
            <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                 </div>
            <!-- fin de bloc reonse 1 -->
    
            <!-- reponse 2 pourla 1 ere client qui a reonde -->
    
            <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
            serif; font-weight: bold; font-size: 20px; top:-250px;">
            
            
            <img src="../../assets/images/ima.png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
            <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                
                <p class="name_content" >Full Name : Isamil</p>
                <p class="email_content">Isamil@gmail.com</p>
                
            </div>
           
            <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                 </div>
    
            <!-- fin reponse -->
    </section>
        </div>
        
        <!-- div 2 -->

        <div id="dev2">
            <section>
                <h1 class="main-title" style="font-family: 'Bree Serif' ; font-size: 45px; ">Fiche Témoignages</h1>
            
           
                <img src="../../assets/images/v1 2 (1).png" alt="Royal Argana" class="property-image" width="380px" style="position: relative; left:50px;">
                <div class="property-details">
                    <h2 style="position: relative; top:-250px; left:480px; font-size: 40px;">Royal Mirage Agadir</h2>
              <br>      <button class="share-btn" style="position: relative; top:-248px; left:480px; font-family: 'Bree Serif'">N'hésitez pas à partager votre avis !</button>
                </div>
            
    
            <div class="testimonials">
                <p class="welcome-text">
                    Bienvenue dans l’espace dédié aux commentaires de nos clients <br> <span class="contenue_welcome">après leur achat.</span>
                </p>
                
             </div>   
              
       
            </section>
    
        <section  class="Fisr_Send" style="position: relative; top:-300px;">
            
                <div class="ligne_divisible"style="position: relative; left:22%;">
                    <div></div>  
                    <div></div> 
                    <div></div>  
                </div>
                <p style="position: relative; left:300px; font-family: 'Bree Serif',
                 serif; font-weight: bold; font-size: 20px;">Je tiens à remercier toute l'équipe pour son excellent service tout au long de l'achat de notre <br> nouvelle maison. Nous sommes absolument ravis de notre  choix ! La maison est non seulement <br>  magnifique, 
                    mais elle dépasse toutes 
                    nos attentes en termes de
                     confort et de qualité. 
                     Votre  <br> professionnalisme et
                      votre disponibilité ont rendu 
                      ce processus simple et agréable</p>
                      
                     
               
                <img src="../../assets/images/fgg.png" id="img1" alt="Profile" style="position: relative; bottom:185px; left:40px;" >
                <div class="afichage_nom_email" style="position: relative; top:-180px; ">
                    
                    <p class="name_content">Full Name : Laurin Jack</p>
                    <p class="email_content">Laurin@gmail.com</p>
                    
                </div>
               
                <!-- reponse 1 de la 1 ere client qui a repond  -->
    
                <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
                serif; font-weight: bold; font-size: 20px; top:-200px;">
                
                
                <img src="../../assets/images/v66.png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
                <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                    
                    <p class="name_content" >Full Name : SFraly</p>
                    <p class="email_content">Solo@gmail.com</p>
                    
                </div>
               
                <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                     </div>
    
    
                <!-- fin de bloc reonse 1 -->
    
                
                <!-- reponse 2 pourla 1 ere client qui a reonde -->
    
                <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
                serif; font-weight: bold; font-size: 20px; top:-250px;">
                
                
                <img src="../../assets/images/man1..png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
                <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                    
                    <p class="name_content" >Full Name : Farid</p>
                    <p class="email_content">Farid@gmail.com</p>
                    
                </div>
               
                <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                     </div>
    
                <!-- fin reponse -->
        </section>
    
    
        <!-- Section de 2 eme reponse -->
    
        <section  class="Fisr_Send" style="position: relative; top:-680px;">
            
            <div class="ligne_divisible"style="position: relative; left:22%;">
                <div></div>  
                <div></div> 
                <div></div>  
            </div>
            <p style="position: relative; left:300px; font-family: 'Bree Serif',
             serif; font-weight: bold; font-size: 20px;">Un grand merci à toute l'équipe 
             pour son service impeccable tout au long de l'acquisition de notre  <br> nouvelle maison. 
             Nous sommes enchantés par notre décision ! La maison est non seulement <br>splendide,
              mais elle surpasse toutes nos attentes en matière de confort et de qualité.
              Votre <br> professionnalisme et votre disponibilité 
              ont fait de cette expérience un véritable plaisir.</p>
                  
                 
           
            <img src="../../assets/images/v10.png" id="img1" alt="Profile" style="position: relative; bottom:185px; left:40px;" >
            <div class="afichage_nom_email" style="position: relative; top:-180px; ">
                
                <p class="name_content">Full Name : Alami</p>
                <p class="email_content">Laurin@gmail.com</p>
                
            </div>
           
            <!-- reponse 1 de la 1 ere client qui a repond  -->
    
            <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
            serif; font-weight: bold; font-size: 20px; top:-200px;">
            
            
            <img src="../../assets/images/man2.png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
            <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                
                <p class="name_content" >Full Name :Alami </p>
                <p class="email_content">Alami@gmail.com</p>
                
            </div>
           
            <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                 </div>
    
    
            <!-- fin de bloc reonse 1 -->
    
            
            <!-- reponse 2 pourla 1 ere client qui a reonde -->
    
            <div class="Bloc_repond_commentaire " style="position: relative; left:300px; font-family: 'Bree Serif',
            serif; font-weight: bold; font-size: 20px; top:-250px;">
            
            
            <img src="../../assets/images/ima.png" id="img1" alt="Profile" style="position: relative; left:1%;  " >
            <div class="afichage_nom_email" style="position: relative; top:-10px; left:-30px; width:15% !important; ">
                
                <p class="name_content" >Full Name : Isamil</p>
                <p class="email_content">Isamil@gmail.com</p>
                
            </div>
           
            <p style="position: relative; bottom:160px; left:12%;">Dis-lui que je confirme qu'il est vraiment ravi.</p>
    
                 </div>
    
            <!-- fin reponse -->
    </section>
        </div>

        <!--  -->
        

           <!--  -->
           <!-- id3 -->
            <div id="dev33">
                    <section>
                        <h1 class="main-title" style="font-family: 'Bree Serif' ; font-size: 45px; ">Fiche Témoignages</h1>
                    
                   
                        <img src="../../assets/images/vrte.png" alt="Royal Argana" class="property-image" width="380px" style="position: relative; left:50px;">
                        <div class="property-details">
                            <h2 style="position: relative; top:-250px; left:480px; font-size: 40px;">Site Look</h2>
                      <br>      <button class="share-btn" style="position: relative; top:-248px; left:480px; font-family: 'Bree Serif'">N'hésitez pas à partager votre avis !</button>
                        </div>
                    
            
                    <div class="testimonials">
                        <p class="welcome-text">
                            Bienvenue dans l’espace dédié aux commentaires de nos clients <br> <span class="contenue_welcome">après leur achat.</span>
                        </p>
                        
                     </div>   
                    </section>
            
                    <div class="divisible" style="background-color: #23367C; width: 100%; height: 4px; 
                    position: relative;
                    bottom: 150px;
                    "></div>
                   <div class="aucun_comment" style="position: relative; left:50px; bottom:20px;">
                    <picture>
                        <img src="../../assets/images/dossier 1.png" width="250px;" alt="">
                    </picture>
                       
                    <p style="font-family: 'Bree Serif' ; font-size: 30px; position: relative; left:100px;">Aucun commentaire n'a été ajouté pour le moment.</p>
                </div>
                   </div>
            
                <!--  -->
            </div>

            <!--  -->

            <!-- affichage historique 4 -->


            <div id="historique4">
                <section>
                    <h1 class="main-title" style="font-family: 'Bree Serif' ; font-size: 45px; ">Fiche Témoignages</h1>
                    <img src="../../assets/images/affiche_hist4.png" alt="Royal Argana" class="property-image" width="380px" style="position: relative; left:50px;">
                    <div class="property-details">
                        <h2 style="position: relative; top:-250px; left:480px; font-size: 40px;">Site Look</h2>
                  <br>      <button class="share-btn" style="position: relative; top:-248px; left:480px; font-family: 'Bree Serif'">N'hésitez pas à partager votre avis !</button>
                    </div>
                
        
                <div class="testimonials">
                    <p class="welcome-text">
                        Bienvenue dans l’espace dédié aux commentaires de nos clients <br> <span class="contenue_welcome">après leur achat.</span>
                    </p>
                    
                 </div>   
                </section>
        
                <div class="divisible" style="background-color: #23367C; width: 100%; height: 4px; 
                position: relative;
                bottom: 150px;
                "></div>
               <div class="aucun_comment" style="position: relative; left:50px; bottom:20px;">
                <picture>
                    <img src="../../assets/images/dossier 1.png" width="250px;" alt="">
                </picture>
                   
                <p style="font-family: 'Bree Serif' ; font-size: 30px; position: relative; left:100px;">Aucun commentaire n'a été ajouté pour le moment.</p>
            </div>
               </div>
        
            </div>

            <!-- Fin affichage historique 4 -->

        <!-- affichage historique 4 -->


        <div id="historique4">
            <section>
                <h1 class="main-title" style="font-family: 'Bree Serif' ; font-size: 45px; ">Fiche Témoignages</h1>
                <img src="../../assets/images/affiche_hist4.png" alt="Royal Argana" class="property-image" width="380px" style="position: relative; left:50px;">
                <div class="property-details">
                    <h2 style="position: relative; top:-250px; left:480px; font-size: 40px;">Site Look</h2>
              <br>      <button class="share-btn" style="position: relative; top:-248px; left:480px; font-family: 'Bree Serif'">N'hésitez pas à partager votre avis !</button>
                </div>
            
    
            <div class="testimonials">
                <p class="welcome-text">
                    Bienvenue dans l’espace dédié aux commentaires de nos clients <br> <span class="contenue_welcome">après leur achat.</span>
                </p>
                
             </div>   
            </section>
    
            <div class="divisible" style="background-color: #23367C; width: 100%; height: 4px; 
            position: relative;
            bottom: 150px;
            "></div>
           <div class="aucun_comment" style="position: relative; left:50px; bottom:20px;">
            <picture>
                <img src="../../assets/images/dossier 1.png" width="250px;" alt="">
            </picture>
               
            <p style="font-family: 'Bree Serif' ; font-size: 30px; position: relative; left:100px;">Aucun commentaire n'a été ajouté pour le moment.</p>
        </div>
           </div>

            </div>
            <!-- Fin 4-->

             <!-- affichage historique 5 -->

             <div id="historique5">

                <section>
                    <h1 class="main-title" style="font-family: 'Bree Serif' ; font-size: 45px; ">Fiche Témoignages</h1>
                
               
                    <img src="../../assets/images/historique5.png" alt="Royal Argana" class="property-image" width="380px" style="position: relative; left:50px;">
                    <div class="property-details">
                        <h2 style="position: relative; top:-250px; left:480px; font-size: 40px;">Site Look</h2>
                  <br>      <button class="share-btn" style="position: relative; top:-248px; left:480px; font-family: 'Bree Serif'">N'hésitez pas à partager votre avis !</button>
                    </div>
                
        
                <div class="testimonials">
                    <p class="welcome-text">
                        Bienvenue dans l’espace dédié aux commentaires de nos clients <br> <span class="contenue_welcome">après leur achat.</span>
                    </p>
                    
                 </div>   
                </section>
        
                <div class="divisible" style="background-color: #23367C; width: 100%; height: 4px; 
                position: relative;
                bottom: 150px;
                "></div>
               <div class="aucun_comment" style="position: relative; left:50px; bottom:20px;">
                <picture>
                    <img src="../../assets/images/dossier 1.png" width="250px;" alt="">
                </picture>
                   
                <p style="font-family: 'Bree Serif' ; font-size: 30px; position: relative; left:100px;">Aucun commentaire n'a été ajouté pour le moment.</p>
            </div>
               </div>
        </div>

        <!-- fin 5 -->

        <!-- historique 6 -->
        <div id="historique6">
            <section>
                <h1 class="main-title" style="font-family: 'Bree Serif' ; font-size: 45px; ">Fiche Témoignages</h1>
            
           
                <img src="../../assets/images/historique6.png" alt="Royal Argana" class="property-image" width="380px" style="position: relative; left:50px;">
                <div class="property-details">
                    <h2 style="position: relative; top:-250px; left:480px; font-size: 40px;">Site Look</h2>
              <br>      <button class="share-btn" style="position: relative; top:-248px; left:480px; font-family: 'Bree Serif'">N'hésitez pas à partager votre avis !</button>
                </div>
            
    
            <div class="testimonials">
                <p class="welcome-text">
                    Bienvenue dans l’espace dédié aux commentaires de nos clients <br> <span class="contenue_welcome">après leur achat.</span>
                </p>
                
             </div>   
            </section>
    
            <div class="divisible" style="background-color: #23367C; width: 100%; height: 4px; 
            position: relative;
            bottom: 150px;
            "></div>
           <div class="aucun_comment" style="position: relative; left:50px; bottom:20px;">
            <picture>
                <img src="../../assets/images/dossier 1.png" width="250px;" alt="">
            </picture>
               
            <p style="font-family: 'Bree Serif' ; font-size: 30px; position: relative; left:100px;">Aucun commentaire n'a été ajouté pour le moment.</p>
        </div>
           </div>
    
        </div>

        <!-- fin historique 6 -->





</body>
</html>