/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo{
    display: flex;
    width: 100px;
    height: auto;
}
.navbar .links link{
    text-decoration: none;

} */

/* header{
    background-image:url(./assets/imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto; */
    /* height: 200vh; */
    /* width: 100%; */
/* } */

/* body {
    background-image: url("./assets/imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-position: center top;   */
    /* height: 800px;
    width: 940px;  */
    /* background-size: 100% 100%; */
/* } */

/* body{ */
    
    /* background-image: url(./assets/imgs/image.png); */
    /* width:500px;
    height:30px; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    /* background-size: contain;
    min-height: 100vh; */
        
/* }

.background{
    margin:0;
    
   height:200vh;
   width: 100%;

} */
/* body {
    background-image: url("./assets/imgs/background.jpg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;

    } */

    body{
        margin: 0;
        padding: 0;

    }
        /* height: 100vh;
        width: 100%; */

    /* .background{

        background-image: url(./assets/imgs/this.jpg);
        background-size: 830px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 1536px;
        height: 695px;
        padding-bottom: 12%;
        padding-left: -12%;

        
    } */

        .background{

        background-image: url(./assets/imgs/Frame\ 1321314540.jpg);
        /* background-size: 1520px; */
        /* background-size: cover; */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        /* background-attachment: fixed; */
        /* width: 1526px;
        height: 695px; */
        /* width: 1536px;
        height: 695px; */
        width: 1536px;
        height: 695px;
        /* padding-bottom: 12%;
        padding-left: -12%; */

        
    }