










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































.abody{
    margin-left: 5em;
}

#aslide-1{
    width: 60vw;
    height: 80vh;
    border-radius: 0.313rem;
}

.acontainer{
    display: flex;
    height: 15vh;
    margin-top: 2rem;
    gap: 1.7em;
}

#aslide-2{
    width: 10vw;
    margin-left: -1rem;
    border-radius: 0.313rem;
}

#aslide-3{
    width: 10vw;
    border-radius: 0.313rem;
}

#aslide-4{
    width: 10vw;
    border-radius: 0.313rem;
}

#aslide-5{
    width: 10vw;
    border-radius: 0.313rem;
}

#aslide-6{
    width: 10vw;
    border-radius: 0.313rem;
}

.aslide-nav-for{
    margin-top: 2.1em;
}

.aslide-nav-back{
    margin-top: 2.1em;
}

.amynav {
    margin: -0.625em -0.625em -0.625em -0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021B43;
}

.amyfoot {
    margin: -0.625em -0.625em -0.625em -0.625em;
}

.atitre{
    margin-top: 2em;
}

.atitle{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.asubtitle{
    color:#908D8D;
    font-weight: lighter;
    margin-top: -0.313em;
}

#aslide-2:hover{
    opacity:50%;
}

#aslide-3:hover{
    opacity:50%;
}

#aslide-4:hover{
    opacity:50%;
}

#aslide-5:hover{
    opacity:50%;
}

#aslide-6:hover{
    opacity:50%;
}

.aform-container {
    background-color: #e0e0e0;
    padding: 1.25rem 1.25rem 27rem 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 18.75rem;
    position: relative;
    bottom: 39.5em;
    left: 3em;
}

h2 {
    text-align: center;
    margin-top: 0.313rem;
    margin-bottom: 1.25rem;
    color: #000;
}

input{
    margin-bottom: 0.938rem;
    padding: 0.625rem 0.063rem 0.625rem 0.063rem ;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 1em;
    width: 100%;
}

.amessage {
    height: 5rem;
}

.ableu {
    padding: 0.625rem;
    background-color: #002855;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.ableu:hover {
    background-color: #fff;
    color:#022E62;
}

.ablanc {
    padding: 0.625rem;
    background-color: white;
    color: #002855;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.ablanc:hover {
    background-color:#022E62 ;
    color:#fff;
}

.aenvoi{
    display: flex;
    gap: 0.5em;
}

.alorem{
    font-size: medium;
    text-align: justify;
    margin-right: 0.313em;
}

#aibiza{
    width:20vw;
    height: 27vh;
    border-radius: 0.313rem;
    margin-left: -8rem;
}

#abouskoura{
    width:20vw;
    height: 27vh;
    border-radius: 0.313rem;
}

#alos-angeles{
    width:20vw;
    height: 27vh;
    border-radius: 0.313rem;
}

.abiens{
    display:flex;
    justify-content: space-around;
}

.abiens a{
    text-decoration: none;
    color: #000;
    margin-left: 1em;
}

a h1{
  margin-top: -0.1em;  
}

a h3{
    color: #908D8D;
    font-weight:100 ;
    margin-top: -1em;
    margin-bottom: 1em;
}

.adescription1{
    margin-left: -8rem;   
}

  @media screen and (max-width: 1279px) and (min-width: 1024px) {
    .abody {
      margin-left: 3em;
    }

    #aslide-1 {
      width: 55vw;
      height: 75vh;
    }

    #aslide-2, #aslide-3, #aslide-4, #aslide-5, #aslide-6{
        margin-left: 0;
    }

    .acontainer img {
      width: 9vw;
    }

    .aform-container{
        position: relative;
        right: 4.9rem;
        bottom: 32.969rem;
        padding: 1.25rem 1.25rem 28rem 1.25rem;
    }

    .abiens{
        margin-left: 2.5rem;
    }

    .aslide-nav-for, .aslide-nav-back{
        display: none;
    }
    
    #aibiza, #abouskoura, #alos-angeles {
      width: 18vw;
      height: 25vh;
    }

    .abtitle, .abtitle1{
        font-size: 1rem;
    }
  }
  
  
  
  /* Mobile portrait : jusqu'à 767px */
  @media screen and (max-width: 768px) {
    .abody {
      margin-left: 1em;
    }

    #aslide-1 {
      width: 85vw;
      height: 80vh;
    }

    .aslide-nav-back, .aslide-nav-for{
        display: none;
    }

    .acontainer {
      display: block;
    }

    .acontainer img {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    .abiens{
        display: grid;
    }

    #aibiza, #abouskoura, #alos-angeles {
      width: 100%;
      height: auto;
      margin-left: 0;
    }

    .aform-container{
        display: none;
    } 

    #aslide-2, #aslide-3, #aslide-4, #aslide-5, #aslide-6{
        margin-left: 0;
        width: 15vw;
        height: 15vh;
    }

    .aimg-container{
        border:1px solid blue;
        display: flex;
        gap: 20px;
        width: 85vw;
    }

    .abtitle1, .aplus1{
        margin-left: 7.875rem;
    }

   .aenvoi {
      flex-direction: column;
      gap: 0.5em;
    }
  }
  