body{
    margin: 0;
}
.accuille-h {
background-color: #022E62;
border: none;
padding: 0 50px;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
display: flex;
align-items: center;
margin-left: 10%;
margin-top: 20px;
}

.logo img {
width: 50%;
margin-right: 90%;
}

.nav-links {
list-style: none;
display: flex;
margin: 0;
padding: 0;
margin-right: 10%;
}

.nav-links li {
margin: 0 15px;
}

.nav-links a {
text-decoration: none;
color: white;
font-size: 17px;
}

.nav-links a:hover {
color: black;
background-color: rgba(255, 3, 16, 0.628);
padding: 10px;
border-radius: 10px;
}

.immo {
display: flex;
justify-content: space-between;
align-items: center;
padding: auto;
color: white;
}

.immo-content {
max-width: 100%;
}

.immo h1 {
font-size: 3em;
}

.immo p {
font-size: 2em;
}

.immo-buttons {
margin-top: 20px;
}

.first-btn, .seconde-btn {
text-decoration: none;
padding: 10px 30px;
border-radius: 20px;
margin-right: 20px;
font-weight: bold;
}

.first-btn {
background-color: #ffffff;
color: #022E62;
}

.first-btn:hover {
background-color: #a9eb10;
}

.seconde-btn {
background-color: transparent;
color: white;
border: 1px solid white;
}

.seconde-btn:hover {
background-color: #a9eb10;
color: #022E62;
}

.accuille-image img {
max-width: 103%;
height: auto;
padding-left: 6.1%;
}

#carousel-ac {
display: flex;
overflow: hidden;
width: 100%;
}

.carousel-container {
display: flex;
width: 300%;
animation: slide 15s infinite;
gap: 10%;
}

.carousel-slide {
flex: 1;
}

.carousel-slide img {
width: 100%;
height: auto;
display: flex;
}
